.drop-downanimation-add{
    display: flex;
    direction: column;
    overflow: hidden;
    animation: height-motion 1s ease-in-out forwards;
}
@keyframes height-motion {
    from {
        height: 0;
    }
    to {
        height: fit-content;
    }
}
.navigator{
    display: fixed !important;
    opacity: 0;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.slide-right{
    animation: drag-right 300ms ease-in-out forwards;
}

.slide-left{
    animation: drag-left 300ms ease-in-out forwards;
}

@keyframes drag-left {
    from{
        transform: translateX(0%);
        opacity: 1;
    }
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes drag-right {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

