@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.circular-gradient-div {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
}

.background-grid {
  background-image: linear-gradient(
      #eeeded 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #eeeded calc(100% - 0.5px)
    ),
    linear-gradient(
      90deg,
      #eeeded 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #eeeded calc(100% - 0.5px)
    );
  background-size: 50px 50px;
  border: 0.5px solid #eeeded;
}

.start {
  transition: all 0.7s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.start:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  width: 100%;
  height: 100%;
  background-color: #d3f2e4;
  border-radius: 10rem;
  z-index: -2;
}
.start:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #2eca7f;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.start:hover {
  color: #fff;
}

.start:hover:before {
  width: 100%;
}

.btn-gradient {
  background: hsla(151, 100%, 49%, 1);

  background: linear-gradient(
    90deg,
    hsla(151, 100%, 49%, 1) 0%,
    hsla(151, 63%, 49%, 1) 50%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(151, 100%, 49%, 1) 0%,
    hsla(151, 63%, 49%, 1) 50%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(151, 100%, 49%, 1) 0%,
    hsla(151, 63%, 49%, 1) 50%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FC82", endColorstr="#2ECA7F", GradientType=1 );
}

.left-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
}

.right-gradient {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
}

.down-gradient {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}

.btn-4:hover {
  border-color: #2eca7f !important;
  background-color: #d3f2e4;
  color: #23a868 !important;
}

:root {
  --c: #23a868;
  --a: #1a2d62;
}

.btn-gradient-2 {
  color: white;

  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;

  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  background-color: #2eca7f;
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
}

.btn-gradient-2:hover {
  --_p: 100%;
  color: white;
  transition: background-position 0.4s, background-size 0s;
}

.background-gradient {
  background-image: linear-gradient(
    310deg,
    hsl(356deg 56% 89%) 0%,
    hsl(357deg 45% 89%) 29%,
    hsl(358deg 34% 89%) 40%,
    hsl(360deg 23% 89%) 46%,
    hsl(4deg 14% 89%) 52%,
    hsl(24deg 4% 88%) 56%,
    hsl(158deg 7% 88%) 60%,
    hsl(168deg 17% 88%) 65%,
    hsl(170deg 26% 88%) 70%,
    hsl(172deg 34% 87%) 77%,
    hsl(173deg 43% 87%) 86%,
    hsl(173deg 51% 86%) 100%
  );
}
