@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body::-webkit-scrollbar {
  width: 12px !important;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2eca7f;
  outline: 1px solid rgb(157, 169, 181);
  height: 10vh !important;
}


@layer base {
  :root {
    --grid-color: #eeeded;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary:0, 0%, 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 0%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {

    --grid-color: 0 0% 100%;

    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 100%;


    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0 0% 100%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}



.background-grid {
  background-image: linear-gradient(
      #eeeded 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #eeeded calc(100% - 0.5px)
    ),

    linear-gradient(
      90deg,
      #eeeded 0.5px,
      transparent 0.5px,
      transparent calc(100% - 0.5px),
      #eeeded calc(100% - 0.5px)
    );

  background-size: 50px 50px;
  /* border: 0.5px solid #23c258; */
  /* border: 0.5px solid #eeeded; */
} 


.left-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
} 
 .right-gradient {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
}
.down-gradient {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
}

.dark-left-gradient {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
} 
.dark-right-gradient {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
}

.dark-down-gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  );
}


.circular-gradient-div {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
}

.hide-behind {
  z-index: -1;
}



.start {
  transition: all 0.7s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.start:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  width: 100%;
  height: 100%;
  background-color: #d3f2e4;
  border-radius: 10rem;
  z-index: -2;
}
.start:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #2eca7f;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.start:hover {
  color: #fff;
}

.start:hover:before {
  width: 100%;
}



:root {
  --c: #23a868;
  --a: #1a2d62;
}

.btn-gradient-2 {
  color: white;

  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;

  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  background-color: #2eca7f;
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
}

.btn-gradient-2:hover {
  --_p: 100%;
  color: white;
  transition: background-position 0.4s, background-size 0s;
}

.background-gradient {
  background-image: linear-gradient(
    310deg,
    hsl(356deg 56% 89%) 0%,
    hsl(357deg 45% 89%) 29%,
    hsl(358deg 34% 89%) 40%,
    hsl(360deg 23% 89%) 46%,
    hsl(4deg 14% 89%) 52%,
    hsl(24deg 4% 88%) 56%,
    hsl(158deg 7% 88%) 60%,
    hsl(168deg 17% 88%) 65%,
    hsl(170deg 26% 88%) 70%,
    hsl(172deg 34% 87%) 77%,
    hsl(173deg 43% 87%) 86%,
    hsl(173deg 51% 86%) 100%
  );
}

.start-2 {
  transition: all 0.7s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.start-2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  color: black;
  width: 100%;
  height: 100%;
  background-color: #d3f2e4;
  z-index: -2;
}
.start-2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #2eca7f;
  transition: all 0.3s;
  z-index: -1;
}
.start-2:hover {
  color: #fff;
}

.start-2:hover:before {
  width: 100%;
}

.box-shadow {
  --tw-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  --tw-shadow-colored: 0px 0px 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media screen and (min-width: 230px) {
  .main-container {
    padding-inline: 1rem;
  }
}
@media screen and (min-width: 330px) {
  .main-container {
    padding-inline: 3rem;
  }
}

@media screen and (min-width: 430px) {
  .main-container {
    padding-inline: 5rem;
  }
}

@media screen and (min-width: 550px) {
  .main-container {
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 690px) {
  .main-container {
    padding-inline: 4rem;
  }
}

@media screen and (min-width: 800px) {
  .main-container {
    padding-inline: 7rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    padding-inline: 10rem;
  }
}

.gradiant-container {
  background: linear-gradient(
    135deg,
    rgba(108, 218, 250, 0.31) 0%,
    rgba(191, 36, 124, 0.07) 100%
  );
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.divToAnimate {
  animation: move 2s ease-in-out infinite; /* adjust the duration as needed */
}

.hard {
  color: #dc3232;
  /* background-color: rgb(254, 229, 229); */
}

.medium {
  color: #ffa500;
  /* background-color: rgb(254, 243, 222); */
}

.easy {
  color: #008000;
  /* background-color: rgb(224, 252, 224); */
}

/* Text-Editor utility CLASSES */

#article-content-container ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-left: 20px;
}

#article-content-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

#article-content-container ul ul {
  list-style-type: none;
  padding-left: 1em;
  margin-top: 0;
}

#article-content-container ul ul ul {
  list-style-type: none;
  padding-left: 2em;
  margin-top: 0;
}

#article-content-container ul li {
  margin-bottom: 10px;
  padding-left: 7px;
  position: relative;
}

#article-content-container ul li:before {
  content: "\2022";
  position: absolute;
  left: -10px;
}

#article-content-container li {
  margin-block: 10px;
}

#article-content-container h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

#article-content-container h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

#article-content-container h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

#article-content-container h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

#article-content-container h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

#article-content-container h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

#article-content-container p {
  font-weight: 450;
  font-size: 14px;
  margin-block: 10px;
}


@media screen and (max-width: 768px) {
  #article-content-container p span {
    font-size: 0.8rem !important; /* Adjust the font size as needed */
  }
}


.search-bar input:focus {
  outline: none; 
  box-shadow: 0 0 15px rgb(89, 94, 85, 0.1); 
}